# Ignorer l'environnement virtuel Python
.venv/
venv/
env/

# Ignorer les fichiers de cache Python
__pycache__/
*.py[cod]
*$py.class

# Ignorer les fichiers de configuration de l'environnement virtuel
pyvenv.cfg

# Ignorer les fichiers de clés et autres fichiers sensibles
files/
keys/
*.key
*.iv

# Ignorer les fichiers de sauvegarde et temporaires
*.swp
*.swo
*.bak
*.tmp

# Ignorer les fichiers de dépendances Python
*.egg-info/
dist/
build/

# Ignorer les fichiers de configuration IDE
.vscode/
.idea/

# Ignorer les fichiers de données générés
*.enc
*.dec
